<!DOCTYPE html>
<html lang="en">

	<head>
		<title>x86 Assembly</title>
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">	
		<link href="/css/styles.css" rel="stylesheet" type="text/css" />
	</head>

    <body>
        <header id="main_header">

		<div>
			<h1> x86 Assembly: 0110 0<span class="main_header_digits">101</span> </h1>
		</div>	
		
		</header>
     
		<nav>
			<a href="/">Intro</a>
			<a href="/registers">Registers</a>
			<a href="/instructions">Instructions</a>
			<a href="/history">History</a>
		</nav>
		
		<br /><br />