<% include partials/header.ejs %>		
		<main>
		
			<figure id="8086_image">
				<img src="/img/intel_8086.jpg" alt="Intel 8086 microprocessor"/>
				<figcaption>
					A dark indigo 8086 chip.
				</figcaption>
			</figure>
			
			<div>
				<header>
					<h2> The Intel 8086 </h2>
				</header>
					
				<p>
					Intel's 8086 and later 8088 microprocessors, released in 1976 and 1978, gave rise to the x86
					family of instruction sets. <br />
					The 8086 has a complete 16-bit architecture with 16-bit registers, a 16-bit data bus, and a 20-bit address bus. Although this address bus could only address 64K worth of memory, the processor's segment
					registers allowed it to address memory beyond this limit as well as specify memory locations for data,
					the stack, and instructions. <br /> <br />
					
					Stephen Morse was the lead architect of the 8086 chip. His software centric approach to its design, <br /> along with its eventual success revolutionized the way processors were designed in the industry. <br /> <br />
					
					The 8086's architecture and instruction set live on in today's modern CPUs. It became Intel's most successful line of processors. 
				</p>
				
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				<p id="registers_source_link">Source: <a href="">CPU World</a> </p>
				
			</div>

		</main>
<% include partials/footer.ejs %>		