<% include partials/header.ejs %>
		
		<main>
			<figure>
				<img src="/img/x86_code.png" alt="Example of x86 code"/>
				<figcaption>
				An example of some x86 code, written by yours truly.
				</figcaption>
			</figure>
			
			<div>
				<header>
					<h2> What is Assembly?</h2>
				</header>
				
				<blockquote>
				An assembly language is a low-level programming language closely related to <br /> 
				a computer architecture's machine code instructions.
				</blockquote>
				
				<br />
				
				<p id="intro_text">Assembly allows programmers to execute CPU instructions and maniuplate CPU memory, known <br />
				as registers, directly. Reading and writing assembly code is a valuable skill to have - it <br />
				enables programmers to optimize their code, reverse-engineer compiled code, and offers control over <br /> 
				program execution not available using higher level languages. 
				</p>
				
				<br />
				
				<header>
					<h2> x86 Architecture</h2>
				</header>
				
				
				<p id="x86_intro_text"> The x86 architecture powers the majority of personal desktop and laptop computers today. <br />
				
				Most mobile devices such as smartphones and tablets are powered by the <a href="https://www.arm.com/"> ARM</a> architecture.
				</p>
				
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				<p id="intro_source_link">Source: <a href="https://www.nayuki.io/page/a-fundamental-introduction-to-x86-assembly-programming#2-basic-execution-environment">Project Nayuki</a> </p>
					
			</div>
			
		</main>
<% include partials/footer.ejs %>
		