<% include partials/header.ejs %>		
		<main>
		<figure id="instructions_image">
				<img src="/img/instructions_list.png" alt="x86 Instructions" />
			</figure>
			
			<div>
				<header>
					<h2> Reading/Writing Memory </h2>
				</header>
					
				<p id="instructions_text">
					Some of the most basic instructions in x86 assembly are reading and writing memory. <br />
					The <span class="mov_instruction">mov</span> instruction writes data from one register into another. <br />
					Moving data between registers is possible, but moving data between memory addresses directly is not. <br />
					The <span class="push_instruction">push</span> and <span class="pop_instruction">pop</span> instructions
					push and pop data from the current stack in memory. <br /> 
					Memory stacks depend on the type of hardware being used. 
				</p>
				
				<br />
				
				<header>
					<h2> Arithmetic </h2>
				</header>
				
				<p id="math_instructions_text"> 
				Basic math instructions in x86 use two 32-bit registers. <br />
				These instructions include addition, subtraction, multiplication, division, and bit shifting. <br />
				For example, the following instructions would add the generated value in the EAX register to the one in the ECX register. <br />
				</p>
				
				<blockquote id="addl">
				<span id="eaxRandom"><%= eaxResult %></span> <br>
		
				addl %eax, %ecx 
				</blockquote>
				
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				<p id="registers_source_link">Source: <a href="https://www.cs.virginia.edu/~evans/cs216/guides/x86.html">University of Virginia</a> </p>
				
			</div>
		</main>
<% include partials/footer.ejs %>